.deleteButton {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.deleteButton:hover {
  background-color: darkred;
}
