.taskInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid red;
  gap:10px;
}

.inputContainer {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dropdown {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.addTask {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addTask:hover {
  background-color: #0056b3;
}
