@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  background-color: #2C2F33; 
  font-family: 'Montserrat', sans-serif;
  color: #F4F5F7; 
}

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
}
